:root {
  --primary-theme: #005792;
  --primary-light-1: #00BBF0;
  --primary-light-2: #D9FAFF;
  --primary-dark-1: #00204A;
}

#app__main__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wave {
  height: 45px;
  width: 100%;
  background-color: var(--primary-light-1);
}

.reverse {
  transform: scaleY(-1);
  background-color: var(--primary-dark-1);
}